/*------------Dark Mode------------*/
:root{
    --bg: #1a1a1a;
    --text: #dcdcdc;
    --select: #2c3583;
    --navbar:#111010;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    background: var(--select);
    color: var(--text);

  }

::-moz-selection {
    background: var(--select);
    color: var(--text);
}

::-webkit-scrollbar {
    width: 10px;
    z-index:2;
}
  

::-webkit-scrollbar-track {
background: rgb(17, 16, 16);
}
  

::-webkit-scrollbar-thumb {
background: rgb(54, 54, 54); 
}

::-webkit-scrollbar-thumb:hover {
background: rgb(46, 45, 45); 
}



body{
    background-color: var(--bg);
    /*background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% );*/
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    min-width:20vw;
    transition: background-color 300ms linear;
}


/*------------NAVIGATION------------*/
#navigation{
    width:100%;
    background-color: var(--navbar);
    min-height:3.5em;
    position: fixed;
    z-index: 1000;  
    
}
.navbar{
    justify-content: center;
    text-decoration: none;
    position:fixed;
    top:0;
    width:100%;
    height:auto;
    
    
}

.link_group{
    list-style: none;
    display:flex;
    justify-content:end;
    
}

.link a{
    color: white;
    opacity: 0.7;
    text-decoration: none;
    text-transform: capitalize;
    line-height: auto;
    font-size: 0.9em;
    width: 12vh;
    min-width:80px;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-radius:30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: opacity 500ms ease 0s;   
}
.link a:hover{
    opacity:0.9;
    transition: opacity 500ms ease 0s;
    cursor:pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}
.link{
    text-align: center;
    margin: 0.6em;
    flex-shrink: 0;
    
}

a.is-active{
    opacity:0.9;
    text-shadow: 
    0px 0px 3px rgba(255, 255, 255, 0.589);
    border-bottom:rgb(192, 9, 79);
    border-bottom-style: solid;

}


.container{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	
    background-color:rgba(41, 40, 40, 1);
	position: relative;
    display:flex;
    z-index: 20;
    top:5px;
    cursor:pointer;
    transition: 0.5s ease 0s;

    border-color:white;
    border-style:solid;
    border-width:1px;
    
    
}
.container.light{
    width: 30px;
	height: 30px;
	border-radius: 100%;
	
    background-color: var(--text);
	position: relative;
    display:flex;
    z-index: 20;
    top:5px;
    cursor:pointer;
    transition: 0.5s ease 0s;

    border-color:white;
    border-style:solid;
    border-width:1px; 
}
.container:hover{
    background-color: var(--text);
    border-color:white;
    border-style:solid;
    border-width:1px;   
}

.container.light:hover{
    background-color: rgba(41, 40, 40, 1);
    border-color:white;
    border-style:solid;
    border-width:1px;   
}




@media screen and (min-width: 1280px) {
    .link a {
      font-size:20px;
      width:auto;
      padding:10px 30px 10px 30px;
    }
    .navbar{
        height:5em;
        background-color: transparent;
    }
    #navigation{
        display:block;
    }
  }

@media screen and (min-width: 0px) and (max-width: 800px) {
    #navigation{
        display:none;
    }
}




/*------------CONTENT------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h1{
    font-size:44px;
    transition: color 300ms linear;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
#content{
    position:absolute;
    width:100%;
    height:auto;
    display:block;

    color:rgb(220, 220, 220);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    z-index: 20;
    padding:100px;
    
    
}


#content p{
    font-size:16px;
    transition: color 300ms linear;
}
#tech, #about, #contact{
    height:5em;
}



/*------------Light Mode------------*/
body.lightMode{
    background-color: var(--text);
    width: 100%;
    display: block;
    margin: auto;
    min-height: 100vh;
    min-width:20vw;
    transition: background-color 300ms linear;  
}
body.lightMode h1, body.lightMode p{
    color:var(--bg);
}



